.section-enducation {
	.section-enducation__wrapper-sections {
		display: grid;
		grid-auto-rows: 643px;
		gap: 20px;
	}

	.section-enducation__el-sections {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
		position: relative;

		.section-enducation__sections-left {
			overflow: hidden;
			position: relative;
			grid-column: span 4;

			border: var(--border);
			border-radius: 20px;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 20px;

			.section-enducation__sections-img {
				height: 230px;
				width: 230px;
				border-radius: 50%;
				background-color: var(--color-text);
			}

			.section-enducation__sections-title-wrapper {
				border-radius: 20px;
				background: var(--secondary__color, #00a233);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 213px;
				height: 69px;
				& h2 {
					color: var(--color-text);
					font-family: 'Montserrat';
					font-size: 45px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}

			.ellipse {
				left: 50%;
				top: -20px;
			}
		}

		.section-enducation__sections-right {
			overflow: hidden;
			position: relative;
			grid-column: span 8;

			border: var(--border);
			border-radius: 20px;

			padding: 30px;

			& h2 {
				margin-bottom: 10px;
			}

			.section-enducation__sections-disc {
				margin-bottom: 32px;
			}

			.ellipse {
				right: -31px;
				bottom: 59px;
			}
		}

		.section-enducation__sections-number {
			position: absolute;

			bottom: 30px;
			right: 0;
			width: 224px;
			height: 54px;
			background-color: var(--color-effect);

			border-radius: 20px 0px 0px 20px;

			display: flex;
			align-items: center;
			justify-content: center;

			color: var(--color-text);
			/* text_h2 */
			font-family: 'Montserrat';
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		&:nth-of-type(2) {
			grid-row: 2/3;
			.section-enducation__sections-left {
				grid-column: 9/13;
				grid-row: 1/2;
			}

			.section-enducation__sections-right {
				grid-column: 1/9;
				grid-row: 2/1;

				.section-enducation__sections-number {
					bottom: 30px;
					left: 0;

					border-radius: 0px 20px 20px 00px;
				}
			}
		}
	}
}
